---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Welcome to Conrad's preliminary blog site!</h1>
			
			<p>
				This is a basic template for an Astro site, but I added Vue.js support to it and will
				use this to build out a blog site of sorts. Everything below this is currently the default:
			</p>
			
		</main>
		<Footer />
	</body>
</html>
